---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1/project/mtchavez/circleci/140?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-d5cca9db
      X-Circleci-Request-Id:
      - 2e8c447e-e19f-456f-a7b3-26260a37a293
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '{"compare":"https://github.com/mtchavez/circleci/commit/d9a5a207e102","previous_successful_build":{"build_num":139,"status":"success","build_time_millis":83094},"build_parameters":null,"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-07-25T10:03:49-07:00","steps":[{"name":"Starting
        the build","actions":[{"truncated":false,"index":0,"parallel":false,"failed":null,"infrastructure_fail":null,"name":"Starting
        the build","bash_command":null,"status":"success","timedout":null,"continue":null,"end_time":"2016-07-25T17:04:37.043Z","type":"infrastructure","truncation_len":null,"output_url":"https://circle-production-action-output.s3.amazonaws.com/80e57358127a0e2208646975-mtchavez-circleci-0-0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20170218T193501Z&X-Amz-SignedHeaders=host&X-Amz-Expires=431999&X-Amz-Credential=AKIAIJNI6FA5RIAFFQ7Q%2F20170218%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=6cfe1936d9f47d9d8f86997590a7b7fa885a04cb2b7d3db8db7d7d08bb8de201","start_time":"2016-07-25T17:04:00.267Z","exit_code":null,"canceled":null,"step":0,"run_time_millis":36776,"has_output":true}]},{"name":"Start
        container","actions":[{"truncated":false,"index":0,"parallel":true,"failed":null,"infrastructure_fail":null,"name":"Start
        container","bash_command":null,"status":"success","timedout":null,"continue":null,"end_time":"2016-07-25T17:05:08.003Z","source":"config","type":"infrastructure","truncation_len":null,"output_url":"https://circle-production-action-output.s3.amazonaws.com/f0e57358127a0e225a646975-mtchavez-circleci-1-0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20170218T193501Z&X-Amz-SignedHeaders=host&X-Amz-Expires=431999&X-Amz-Credential=AKIAIJNI6FA5RIAFFQ7Q%2F20170218%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=db8249579d723c439621c0f1afe9d5dfaba72309de5bce94fef0dc6b9ae9a0dc","start_time":"2016-07-25T17:04:37.077Z","exit_code":0,"ca[...]
