---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/me?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-6f9bbf4754-b7tvd
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/me"
    body:
      encoding: ASCII-8BIT
      string: '{"enrolled_betas":[],"in_beta_program":false,"selected_email":"matthew@el-chavez.me","avatar_url":"https://avatars2.githubusercontent.com/u/44689?v=4","trial_end":"2013-05-01T02:51:18.043Z","admin":false,"basic_email_prefs":"smart","sign_in_count":183,"github_oauth_scopes":["user:email","repo"],"analytics_id":"10448f27-7256-49de-9099-6c89d09cb235","name":"Chavez","gravatar_id":null,"first_vcs_authorized_client_id":null,"days_left_in_trial":-2438,"privacy_optout":false,"parallelism":1,"student":false,"bitbucket_authorized":true,"github_id":44689,"web_ui_pipelines_optout":"not-selected","bitbucket":{"id":"{0b832565-c0a0-4eb0-aebf-d84d41da0117}","login":null},"dev_admin":false,"all_emails":["chavez@fastmail.fm","contact@el-chavez.me","matthew@autolist.com","matthew@el-chavez.me","nailsbrokeandfell@gmail.com"],"created_at":"2013-04-17T02:51:18.043Z","plan":null,"heroku_api_key":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxf7c5","identities":{"github":{"avatar_url":"https://avatars2.githubusercontent.com/u/44689?v=4","external_id":44689,"id":44689,"name":"Chavez","user?":true,"domain":"github.com","type":"github","authorized?":true,"provider_id":"bcc68be8-ef10-4dd6-9b76-34f19e0db930","login":"mtchavez"},"bitbucket":{"avatar_url":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:094245b6-ea29-4f47-9b3e-a4ede4346404/21d28eee-4a20-4a73-9ef2-3b6b45c05f71/128","external_id":"{0b832565-c0a0-4eb0-aebf-d84d41da0117}","id":"{0b832565-c0a0-4eb0-aebf-d84d41da0117}","name":"mtchavez","user?":true,"domain":"bitbucket.org","type":"bitbucket","authorized?":true,"provider_id":"752bbf0d-bea6-4c9c-9923-ce5936ca9be3","login":"mtchavez"}},"projects":{"https://github.com/autolist/serverless-lambda-starter":{"on_dashboard":true,"emails":"default"},"https://github.com/autolist/dealer-management-tool":{"on_dashboard":true,"emails":"default"},"https://github.com/autolist/daily-impressions-reporter":{"on_dashboard":true,"emails":"default"},"https://github.com/autolist/abtest":{"on_dashboard":true,"emails":"default"},"https://github.com/autolist/workstation-setup":{"on_dashboard":true,"emails":"default"},"https://github.com/autolist/shared-infrastructure":{"on_dashboard":true,"emails":"default"},"https://github.com/autolist/content-[...]
