---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/mtchavez/circleci/checkout-key/asdf-bogus?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-9ffb4567
      X-Circleci-Request-Id:
      - 8c4d71c5-0ba6-4df6-8abc-f6bd2d9dd611
      X-Route:
      - "/checkout-key/:fingerprint"
    body:
      encoding: UTF-8
      string: '{"message":"checkout key not found"}'
  recorded_at: Fri, 29 Jul 2016 00:29:48 GMT
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/mtchavez/circleci/follow?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-195669e1
      X-Circleci-Request-Id:
      - b3faf4a3-f271-4368-98c4-938dc0deace5
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/follow"
    body:
      encoding: UTF-8
      string: '{"first_build":null,"followed":true}'
  recorded_at: Sat, 18 Feb 2017 23:24:59 GMT
recorded_with: VCR 3.0.3
