---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/mtchavez/circleci/65/ssh-users?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"hostname":"hostname","private_key":"RSA Private Key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-02009f0c
      X-Circleci-Request-Id:
      - 801d39c7-c68e-4c5d-929d-c92c376a34fb
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/ssh-users"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '{"compare":"https://github.com/mtchavez/circleci/compare/03cce9db60ee...43904cc4b93e","previous_successful_build":{"build_num":64,"status":"success","build_time_millis":54430},"build_parameters":null,"oss":true,"committer_date":"2015-12-06T13:37:10-08:00","body":"","usage_queued_at":"2015-12-06T21:37:20.563Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/65","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":"2015-12-06T13:37:10-08:00","why":"github","user":{"is_user":true,"login":"mtchavez","avatar_url":"https://avatars.githubusercontent.com/u/44689?v=3","name":"Chavez","vcs_type":"github","id":44689},"vcs_revision":"43904cc4b93e79af83cddd6b2195e031759d665f","vcs_tag":null,"build_num":65,"infrastructure_fail":false,"committer_email":"matthew@el-chavez.me","has_artifacts":true,"previous":{"build_num":64,"status":"success","build_time_millis":54430},"status":"success","committer_name":"Chavez","retries":null,"subject":"Update
        CHANGELOG","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"finished","no_dependency_cache":null,"stop_time":"2015-12-06T21:38:12.078Z","ssh_disabled":false,"build_time_millis":55587,"circle_yml":null,"messages":[],"is_first_green_build":false,"job_name":null,"start_time":"2015-12-06T21:37:16.491Z","canceler":null,"all_commit_details":[{"committer_date":"2015-12-06T13:37:10-08:00","body":"","branch":"master","author_date":"2015-12-06T13:37:10-08:00","committer_email":"matthew@el-chavez.me","commit":"43904cc4b93e79af83cddd6b2195e031759d665f","committer_login":"mtchavez","committer_name":"Chavez","subject":"Update
        CHANGELOG","commit_url":"https://github.com/mtchavez/circleci/commit/43904cc4b93e79af83cddd6b2195e031759d665f","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"}],"outcome":"success","vcs_url":"https://github.com/mtchavez/circleci","author_name":"Chavez","node":[{"public_ip_addr":"54.144.251.237","port":64712,"username":"ubuntu","image_id":"circletar-1347-b4bf5-20151130T080640Z","ssh_enabled":null}],"queued_at":"2015-12-06T21:37:16.459Z","canceled":false,"author_email":"matthew@el-chavez.me"}'
  recorded_at: Sat, 18 Feb 2017 22:29:28 GMT
recorded_with: VCR 3.0.3
