---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/mtchavez/circleci/ssh-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"hostname":"hostname","private_key":"RSA Private Key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-57c004c8
      X-Circleci-Request-Id:
      - bf48caeb-0354-4ff5-9998-8e308e8ca6e4
      X-Route:
      - "/ssh-key"
    body:
      encoding: UTF-8
      string: '{"message":"it looks like private key is invalid key.  Double check"}'
  recorded_at: Fri, 29 Jul 2016 00:22:49 GMT
recorded_with: VCR 3.0.3
