---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/ssh-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"hostname":"hostname","private_key":"RSA Private Key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-29422c27
      X-Circleci-Request-Id:
      - b238b3b5-5fb1-43d1-badd-01c89b47556b
      X-Route:
      - "/ssh-key"
    body:
      encoding: UTF-8
      string: '{"message":"it looks like private key is invalid key.  Double check"}'
  recorded_at: Tue, 20 Dec 2016 23:53:49 GMT
recorded_with: VCR 3.0.3
