---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1/organization/orga-name?circle-token=asdf-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-circleci-identity:
      - i-d4aa9b85
      x-route:
      - "/api/v1/organization/:username"
    body:
      encoding: UTF-8
      string: '[{"dont_build":null,"committer_name":"Chavez","usage_queued_at":"2014-04-12T10:29:59.352Z","branch":"master","body":"Update
        Missing ''e'' in CircleCi in README.md","author_date":"2014-03-12T23:14:53Z","node":[{"username":"ubuntu","ssh_enabled":null,"port":64721,"public_ip_addr":"54.82.224.94"}],"committer_date":"2014-03-12T23:14:53Z","compare":null,"retries":null,"parallel":1,"committer_email":"mtchavez@users.noreply.github.com","build_time_millis":16308,"why":"retry","author_email":"mtchavez@users.noreply.github.com","ssh_enabled":null,"start_time":"2014-04-12T10:29:59.587Z","stop_time":"2014-04-12T10:30:15.895Z","lifecycle":"finished","user":{"is_user":true,"login":"hwartig","name":"Harald
        Wartig","email":"hwartig@users.noreply.github.com"},"subject":"Merge pull request #4 from
        Alex-Poon/master","messages":[],"job_name":null,"retry_of":1,"previous_successful_build":{"build_time_millis":37685,"status":"success","build_num":1},"outcome":"success","status":"success","vcs_revision":"f33617404dc392ddd676fdde87cd5c87369e1857","build_num":2,"username":"hwartigcom","vcs_url":"https://github.com/hwartigcom/circleci","timedout":false,"previous":{"build_time_millis":37685,"status":"success","build_num":1},"canceled":false,"infrastructure_fail":false,"failed":null,"reponame":"circleci","build_url":"https://circleci.com/gh/hwartigcom/circleci/2","feature_flags":{},"author_name":"Chavez","queued_at":"2014-04-12T10:29:59.517Z"},{"dont_build":null,"committer_name":"Chavez","usage_queued_at":"2014-04-08T06:58:09.522Z","branch":"master","body":"Update
        Missing ''e'' in CircleCi in README.md","author_date":"2014-03-12T23:14:53Z","node":[{"username":"ubuntu","ssh_enabled":null,"port":64775,"public_ip_addr":"54.198.9.232"}],"committer_date":"2014-03-12T23:14:53Z","compare":null,"retries":[2],"parallel":1,"committer_email":"mtchavez@users.noreply.github.com","build_time_millis":37685,"why":"first-build","author_email":"mtchavez@users.noreply.github.com","ssh_enabled":null,"start_time":"2014-04-08T06:58:09.868Z","stop_time":"2014-04-08T06:58:47.553Z","lifecycle":"finished","user":{"is_user":true,"login":"hwartig","name":"Harald
        Wartig","email":"hwartig@users.noreply.github.com"},"subject":"Merge pull request #4 from
        Alex-Poon/master","messages":[],"job_name":null,"retry_of":null,"previous_successful_build":null,"outcome":"success","status":"success","vcs_revision":"f33617404dc392ddd676fdde87cd5c87369e1857","build_num":1,"username":"hwartigcom","vcs_url":"https://github.com/hwartigcom/circleci","timedout":false,"previous":null,"all_commit_details":[{"committer_name":"Chavez","body":"Update
        Missing ''e'' in CircleCi in README.md","author_date":"2014-03-12T23:14:53Z","committer_date":"2014-03-12T23:14:53Z","commit_url":"https://github.com/hwartigcom/circleci/commit/f33617404dc392ddd676fdde87cd5c87369e1857","committer_email":"mtchavez@users.noreply.github.com","author_email":"mtchavez@users.noreply.github.com","subject":"Merge
        pull request #4 from Alex-Poon/master","commit":"f33617404dc392ddd676fdde87cd5c87369e1857","author_name":"Chavez"}],"canceled":false,"infrastructure_fail":false,"failed":null,"reponame":"circleci","build_url":"https://circleci.com/gh/hwartigcom/circleci/1","feature_flags":{},"author_name":"Chavez","queued_at":"2014-04-08T06:58:09.739Z"}]'
  recorded_at: Tue, 08 Apr 2014 10:37:01 GMT
recorded_with: VCR 2.9.0
