---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/tree/master?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://circleci.com/api/v1.1/project/github/mtchavez/circleci/1921
      X-Circleci-Identity:
      - circle-www-api-acl-v1-77f8b64d56-rfbm6
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/tree/:branch"
    body:
      encoding: UTF-8
      string: '{"compare":null,"previous_successful_build":{"build_num":1912,"status":"success","build_time_millis":34523},"build_parameters":{},"oss":true,"committer_date":null,"body":null,"usage_queued_at":"2020-01-03T23:09:41.656Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/1921","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":null,"why":"api","user":{"is_user":true,"login":"mtchavez","avatar_url":"https://avatars2.githubusercontent.com/u/44689?v=4","name":"Chavez","vcs_type":"github","id":44689},"vcs_revision":"d1feb2a327f3e1fbe9c4268fce145543e3d7a857","vcs_tag":null,"build_num":1921,"infrastructure_fail":false,"committer_email":null,"previous":{"build_num":1920,"status":"failed","build_time_millis":112},"status":"not_running","committer_name":null,"retries":null,"subject":null,"vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"not_running","no_dependency_cache":false,"stop_time":null,"ssh_disabled":true,"build_time_millis":null,"picard":null,"circle_yml":{"string":"version:
        2\n\n.build_template: &build_definition\n  steps:\n    - checkout\n    - run:
        curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
        > ./cc-test-reporter\n    - run: chmod +x ./cc-test-reporter\n    - run: ./cc-test-reporter
        before-build\n    - run: bundle install --jobs=4 --retry=4 --path vendor/bundle\n    -
        run: bundle exec rake rubocop\n    - run:\n        name: Run tests\n        command:
        |\n          bundle exec rspec -r rspec_junit_formatter --format RspecJunitFormatter
        -o $CIRCLE_TEST_REPORTS/rspec/junit.xml\n          ./cc-test-reporter after-build
        --exit-code $?\n  working_directory: ~/app\n\njobs:\n  build_ruby2_6rc:\n    <<:
        *build_definition\n    docker:\n      - image: ruby:2.6-rc\n  build_ruby2_5:\n    <<:
        *build_definition\n    docker:\n      - image: ruby:2.5\n  build_ruby2_4:\n    <<:
        *build_definition\n    docker:\n      - image: ruby:2.4\n  build_ruby2_3:\n    <<:
        *build_definition\n    docker:\n      - image: ruby:2.3\n\nworkflows:\n  version:
        2\n  build_ruby_versions:\n    jobs:\n      - build_ruby2_6rc\n      - build_ruby2_5\n      -
        build_ruby2_4\n      - build_ruby2_3\n"},"messages":[],"is_first_green_build":false,"job_name":null,"start_time":null,"canceler":null,"platform":"2.0","outcome":null,"vcs_url":"https://github.com/mtchavez/circleci","author_name":null,"node":null,"canceled":false,"author_email":null}'
  recorded_at: Fri, 03 Jan 2020 23:09:41 GMT
recorded_with: VCR 4.0.0
