---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/settings?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-5ddd5d69bc-lpkk9
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/settings"
    body:
      encoding: ASCII-8BIT
      string: '{"irc_server":null,"slack_integration_channel":null,"irc_keyword":null,"slack_integration_team_id":null,"vcs-type":"github","aws":{"keypair":null},"slack_webhook_url":null,"flowdock_api_token":null,"parallel":1,"slack_integration_team":null,"username":"mtchavez","campfire_room":null,"extra":"","branches":{"master":{"running_builds":[],"recent_builds":[{"build_num":1922,"status":"failed","outcome":"failed","added-at":"2020-01-03T23:09:46.480Z"},{"build_num":1921,"status":"failed","outcome":"failed","added-at":"2020-01-03T23:09:46.135Z"},{"build_num":1920,"status":"failed","outcome":"failed","added-at":"2020-01-03T23:04:14.956Z"},{"build_num":1919,"status":"failed","outcome":"failed","added-at":"2020-01-03T23:04:16.072Z"},{"build_num":1918,"status":"failed","outcome":"failed","added-at":"2020-01-03T23:04:13.222Z"}],"latest_workflows":{"build_ruby_versions":{"created_at":"2020-01-03T20:55:56.548Z","id":"41865175-e70b-42e4-ad71-479f4708c5b8","status":"success"}},"latest_completed_workflows":{"build_ruby_versions":{"created_at":"2020-01-03T20:55:56.548Z","id":"41865175-e70b-42e4-ad71-479f4708c5b8","status":"success"}},"pusher_logins":["mtchavez"],"is_using_workflows":false},"v-1%2E1%2E0":{"running_builds":[],"recent_builds":[{"build_num":386,"status":"success","outcome":"success","added-at":"2017-05-26T18:08:59.981Z"},{"build_num":385,"status":"success","outcome":"success","added-at":"2017-05-26T18:08:35.297Z"}],"latest_workflows":{},"latest_completed_workflows":{},"pusher_logins":["mtchavez"],"is_using_workflows":false},"dependabot%2Fbundler%2Fpry-0%2E12%2E2":{"running_builds":[],"recent_builds":[{"build_num":1076,"status":"success","outcome":"success","add[...]
