---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/140/tests?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-b0f84648
      X-Circleci-Request-Id:
      - a994b61f-d0d4-47c9-b691-4ed31ad1e9c3
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/tests"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '{"tests":[{"classname":"spec.circleci.build_spec","file":"spec/circleci/build_spec.rb","name":"CircleCi::Build
        artifacts successfully returns a response object","result":"success","run_time":0.011007,"message":null,"source":"rspec","source_type":"rspec"},{"classname":"spec.circleci.build_spec","file":"spec/circleci/build_spec.rb","name":"CircleCi::Build
        artifacts successfully returns all artifacts for build","result":"success","run_time":0.005647,"message":null,"source":"rspec","source_type":"rspec"},{"classname":"spec.circleci.build_spec","file":"spec/circleci/build_spec.rb","name":"CircleCi::Build
        cancel successfully returns a response object","result":"success","run_time":0.007057,"message":null,"source":"rspec","sour[...]
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/circleci//tests?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-da4c22d4
      X-Circleci-Request-Id:
      - 1f337463-9c42-43b6-8575-e612d9bdb1aa
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html><head><title>Continuous Integration and Deployment</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="CircleCI" name="apple-mobile-web-app-title"><meta content="Hosted Continuous Integration for web applications. Set up your application for testing in one click, on the fastest testing platform on the internet." name="description"><link href="https://dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico" rel="icon" type="image/png"><link href="//dmmj3mmt94rvw.cloudfront.net/assets/css/app-b69cd148b2bd66451e8551af355597a3.css" rel="stylesheet" type="text/css"><script type="text/javascript">var circleEnvironment = "production";var circleHost = "i-da4c22d4";var current_manifest_version_key = "frontend-releases/v3/367ad768072c853274f2ffa3ed098cc6265a03b8.json";var optimizelyUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/optimizely-94c7bce52d627f8bcc7ed80e0c947108.js';var segmentUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/segment-AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35-f0f5acd5bb0d8296bb6119d034d66958.js';var CSRFToken = 'R3ynFzSrQm5ucUJ026bNZtwIFFJH[...]
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/circleci/140/tests?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-0f79eb58d1804b56d
      X-Circleci-Request-Id:
      - cbce7d62-2263-4b22-a861-a69b39c[...]
