---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/mtchavez/circleci/140/tests?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-c5cc085a
      X-Circleci-Request-Id:
      - b326e3f2-5971-4a16-b3b6-724095e06021
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/tests"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '{"tests":[{"classname":"spec.circleci.build_spec","file":"spec/circleci/build_spec.rb","name":"CircleCi::Build
        artifacts successfully returns a response object","result":"success","run_time":0.011007,"message":null,"source":"rspec","source_type":"rspec"},{"classname":"spec.circleci.build_spec","file":"spec/circleci/build_spec.rb","name":"CircleCi::Build
        artifacts successfully returns all artifacts for build","result":"success","run_time":0.005647,"message":null,"source":"rspec","source_type":"rspec"},{"classname":"spec.circleci.build_spec","file":"spec/circleci/build_spec.rb","name":"CircleCi::Build
        cancel successfully returns a response object","result":"success","run_time":0.007057,"message":null,"source":"rspec","sour[...]
