---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci?circle-token=<TOKEN>&limit=5
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-6f9bbf4754-zhjhz
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/"
    body:
      encoding: ASCII-8BIT
      string: '[{"compare":null,"previous_successful_build":null,"build_parameters":{},"oss":true,"all_commit_details_truncated":false,"committer_date":"2020-01-03T20:55:33Z","body":"","usage_queued_at":"2020-01-03T23:09:42.247Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/1922","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":"2020-01-03T20:55:33Z","why":"api","user":{"is_user":true,"login":"mtchavez","avatar_url":"https://avatars2.githubusercontent.com/u/44689?v=4","name":"Chavez","vcs_type":"github","id":44689},"vcs_revision":"d1feb2a327f3e1fbe9c4268fce145543e3d7a857","vcs_tag":null,"build_num":1922,"infrastructure_fail":false,"committer_email":"matthew@el-chavez.me","previous":{"build_num":1921,"status":"queued","build_time_millis":0},"status":"queued","committer_name":"Chavez","retries":null,"subject":"Doc:
        Update delete envvar documentation","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"queued","no_dependency_cache":false,"stop_time":null,"ssh_disabled":false,"build_time_millis":null,"picard":null,"circle_yml":null,"messages":[],"is_first_green_build":false,"job_name":null,"start_time":null,"canceler":null,"all_commit_details":[{"committer_date":"2020-01-03T20:55:33Z","body":"","author_date":"2020-01-03T20:55:33Z","committer_email":"matthew@el-chavez.me","commit":"d1feb2a327f3e1fbe9c4268fce145543e3d7a857","committer_login":"mtchavez","committer_name":"Chavez","subject":"Doc:
        Update delete envvar documentation","commit_url":"https://github.com/mtchavez/circleci/commit/d1feb2a327f3e1fbe9c4268fce145543e3d7a857","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"}],"platform":"1.0","outcome":null,"vcs_url":"https://github.com/mtchavez/circleci","author_name":"Chavez","node":null,"queued_at":"2020-01-03T23:09:42.298Z","canceled":false,"author_email":"matthew@el-chavez.me"},{"compare":null,"previous_successful_build":null,"build_parameters":{},"oss":true,"all_commit_details_truncated":false,"committer_date":"2020-01-03T20:55:33Z","body":"","usage_queued_at":"2020-01-03T23:09:41.656Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/1921","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":"2020-01-03T20:55:33Z","why[...]
