---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/user/heroku-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"apikey":"<HEROKU_TOKEN>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-99bc8861
      X-Circleci-Request-Id:
      - f3ec6891-a768-489c-bb48-b15d89d1c114
      X-Route:
      - "/user/heroku-key"
    body:
      encoding: UTF-8
      string: '{"message":"You must log in first."}'
  recorded_at: Sat, 18 Feb 2017 18:47:16 GMT
recorded_with: VCR 3.0.3
