---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci?circle-token=<TOKEN>&filter=failed&limit=5
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-bda5f33b
      X-Circleci-Request-Id:
      - 422a2bd9-e5dc-4ed4-b877-bef8649cd1c1
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/"
    body:
      encoding: ASCII-8BIT
      string: '[{"compare":null,"previous_successful_build":null,"build_parameters":{},"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-07-28T16:12:10Z","body":"","usage_queued_at":"2016-07-29T00:17:51.954Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/232","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":"2016-07-28T16:07:56Z","why":"api","user":{"is_user":false,"login":"none"},"vcs_revision":"b601b390c86a917d6615f160f2dc1de11b62b7c8","vcs_tag":null,"build_num":232,"infrastructure_fail":false,"committer_email":"matthew@el-chavez.me","previous":{"build_num":231,"status":"no_tests","build_time_millis":22042},"status":"no_tests","committer_name":"Chavez","retries":null,"subject":"Add
        note for minimum ruby version","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"finished","no_dependency_cache":false,"stop_time":"2016-07-29T00:18:13.684Z","ssh_disabled":false,"build_time_millis":22515,"circle_yml":null,"messages":[{"type":"warning","message":"It
        looks like we couldn''t infer test settings for your project. Refer to our
        \"<a data-external href=''https://circleci.com/docs/manually''>Setting your
        build up manually</a>\" document to get started. It should only take a few
        minutes."}],"is_first_green_build":false,"job_name":null,"start_time":"2016-07-29T00:17:51.169Z","canceler":null,"all_commit_details":[{"committer_date":"2016-07-28T16:12:10Z","body":"","author_date":"2016-07-28T16:07:56Z","committer_email":"matthew@el-chavez.me","commit":"b601b390c86a917d6615f160f2dc1de11b62b7c8","committer_login":"mtchavez","committer_name":"Chavez","subject":"Add
        note for minimum ruby version","commit_url":"https://github.com/mtchavez/circleci/commit/b601b390c86a917d6615f160f2dc1de11b62b7c8","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"}],"outcome":"no_tests","vcs_url":"https://github.com/mtchavez/circleci","author_name":"Chavez","node":null,"queued_at":"2016-07-29T00:17:51.135Z","canceled":false,"author_email":"matthew@el-chavez.me"},{"compare":null,"previous_successful_build":null,"build_parameters":{},"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-07-28T16:12:10Z","body":"","usage_queued_at":"2016-07-29T00:17:13.776Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/231","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":"2016-07-28T16:07:56Z","why"[...]
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/circleci?circle-token=<TOKEN>&filter=failed&limit=5
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-09ae5146eab9f3ca9
      X-Circleci-Request-Id:
      - 953794b7-0a31-49eb-a8e4-5fdb98bf92d6
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html><head><title>Continuous Integration and Deployment</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="CircleCI" name="apple-mobile-web-app-title"><meta content="Hosted Continuous Integration for web applications. Set up your application for testing in one click, on the fastest testing platform on the internet." name="description"><link href="https://dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico" rel="icon" type="image/png"><link href="//dmmj3mmt94rvw.cloudfront.net/assets/css/app-b69cd148b2bd66451e8551af355597a3.css" rel="stylesheet" type="text/css"><script type="text/javascript">var circleEnvironment = "production";var circleHost = "i-09ae5146eab9f3ca9";var current_manifest_version_key = "frontend-releases/v3/367ad768072c853274f2ffa3ed098cc6265a03b8.json";var optimizelyUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/optimizely-94c7bce52d627f8bcc7ed80e0c947108.js';var segmentUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/segment-AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35-f0f5acd5bb0d8296bb6119d034d66958.js';var CSRFToken = 'JoEdyAuskZyD4hgLiYR[...]
