---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/recent-builds?circle-token=<TOKEN>&limit=3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-6f9bbf4754-z66hz
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/recent-builds"
    body:
      encoding: ASCII-8BIT
      string: '[{"compare":null,"previous_successful_build":null,"build_parameters":{"CIRCLE_JOB":"integration_test"},"oss":false,"all_commit_details_truncated":false,"committer_date":"2020-01-03T23:06:47Z","body":"","usage_queued_at":"2020-01-03T23:08:37.293Z","context_ids":[],"fail_reason":null,"retry_of":null,"reponame":"autolist-web","ssh_users":[],"build_url":"https://circleci.com/gh/autolist/autolist-web/25156","parallel":1,"failed":null,"branch":"refactor/ads-redux","username":"autolist","author_date":"2020-01-03T23:06:47Z","why":"github","user":{"is_user":true,"login":"Asherlc","avatar_url":"https://avatars3.githubusercontent.com/u/1294552?v=4","name":"Asher
        Cohen","vcs_type":"github","id":1294552},"vcs_revision":"5f9920c5bbe2fc61f04bfcf9dd6c4d6c12f9a036","workflows":{"job_name":"integration_test","job_id":"eaa3e031-0e8b-41b8-99f9-6042b557a6b4","workflow_id":"1c386ce3-8f13-4a79-abdd-75ff18cdd2ce","workspace_id":"1c386ce3-8f13-4a79-abdd-75ff18cdd2ce","upstream_job_ids":["d63066a5-9cb6-4d2f-a78c-324bce0248bf"],"upstream_concurrency_map":{},"workflow_name":"build-test-and-deploy"},"vcs_tag":null,"build_num":25156,"infrastructure_fail":false,"committer_email":"asher@autolist.com","has_artifacts":true,"previous":{"build_num":25155,"status":"running","build_time_millis":71135},"status":"running","committer_name":"Asher
        Cohen","retries":null,"subject":"fix: use store state interface","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"running","no_dependency_cache":false,"stop_time":null,"ssh_disabled":false,"build_time_millis":null,"picard":null,"circle_yml":null,"messages":[],"is_first_green_build":false,"job_name":null,"start_time":"2020-01-03T23:08:43.610Z","canceler":null,"all_commit_details":[{"committer_date":"2020-01-03T23:06:47Z","body":"","branch":"refactor/ads-redux","author_date":"2020-01-03T23:06:47Z","committer_email":"asher@autolist.com","commit":"5f9920c5bbe2fc61f04bfcf9dd6c4d6c12f9a036","committer_login":"Asherlc","committer_name":"Asher
        Cohen","subject":"fix: use store state interface","commit_url":"https://github.com/autolist/autolist-web/commit/5f9920c5bbe2fc61f04bfcf9dd6c4d6c12f9a036","author_login":"Asherlc","author_name":"Asher
        Cohen","author_email":"asher@autolist.com"}],"platform":"1.0","outcome":null,"vcs_url":"https://github.com/autolist/autolist-web","author_name":"Asher
        Cohen","node":null,"queued_at":"2020-01-03T23:08:37.342Z","canceled":false,"author_email":"asher@autolist.com"},{"compare":null,"previous_successful_build":null,"build_parameters":{"CIRCLE_JOB":"unit_test"},"oss":false,"all_commit_details_truncated":false,"committer_date":"2020-01-03T23:06:47Z","body":"","usage_queued_at":"2020-01-03T23:08:37.264Z","context_ids":[],"fail_reason":null,"retry_of":null,"reponame":"autolist-web","ssh_users":[],"build_url":"https://circleci.com/gh/autolist/autolist-web/25155","parallel":1,"failed":null,"branch":"refactor/ads-redux","u[...]
