---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1/project/mtchavez/asdf-bogus/envvar?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"TESTENV","value":"testvalue"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-a5430c36
      X-Circleci-Request-Id:
      - f5847261-af20-4297-9dc4-5ad54ec2a26b
      X-Route:
      - "/envvar"
    body:
      encoding: UTF-8
      string: '{"message":"Project not found"}'
  recorded_at: Sat, 18 Feb 2017 23:55:51 GMT
recorded_with: VCR 3.0.3
