---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/asdf-bogus/envvar?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"TESTENV","value":"testvalue"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-a5430c36
      X-Circleci-Request-Id:
      - f5847261-af20-4297-9dc4-5ad54ec2a26b
      X-Route:
      - "/envvar"
    body:
      encoding: UTF-8
      string: '{"message":"Project not found"}'
  recorded_at: Sat, 18 Feb 2017 23:55:51 GMT
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/asdf-bogus/envvar?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"TESTENV","value":"testvalue"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-09ae5146eab9f3ca9
      X-Circleci-Request-Id:
      - '018c960b-e694-4102-ae50-6f17c716d6c0'
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html><head><title>Continuous Integration and Deployment</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="CircleCI" name="apple-mobile-web-app-title"><meta content="Hosted Continuous Integration for web applications. Set up your application for testing in one click, on the fastest testing platform on the internet." name="description"><link href="https://dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico" rel="icon" type="image/png"><link href="//dmmj3mmt94rvw.cloudfront.net/assets/css/app-b69cd148b2bd66451e8551af355597a3.css" rel="stylesheet" type="text/css"><script type="text/javascript">var circleEnvironment = "production";var circleHost = "i-09ae5146eab9f3ca9";var current_manifest_version_key = "frontend-releases/v3/367ad768072c853274f2ffa3ed098cc6265a03b8.json";var optimizelyUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/optimizely-94c7bce52d627f8bcc7ed80e0c947108.js';var segmentUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/segment-AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35-f0f5acd5bb0d8296bb6119d034d66958.js';var CSRFToken = 'JoEdyAuskZyD4hgLiYR[...]
