---
http_interactions:
- request:
    method: delete
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/envvar/TESTENV?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-5544bcb64-6whh5
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/envvar/:var-name"
    body:
      encoding: UTF-8
      string: '{"message":"env var not found"}'
  recorded_at: Thu, 19 Dec 2019 02:26:21 GMT
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/envvar?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"DELETE_ME","value":"testvalue"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://circleci.com/api/v1.1/project/github/mtchavez/circleci/envvar/DELETE_ME
      X-Circleci-Identity:
      - circle-www-api-v1-5544bcb64-zhv2g
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/envvar"
    body:
      encoding: UTF-8
      string: '{"name":"DELETE_ME","value":"xxxxalue"}'
  recorded_at: Thu, 19 Dec 2019 02:33:36 GMT
- request:
    method: delete
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/envvar/DELETE_ME?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-5544bcb64-whs2g
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/envvar/:var-name"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"ok"}'
  recorded_at: Thu, 19 Dec 2019 02:33:42 GMT
recorded_with: VCR 4.0.0
