---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/projects?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-a5430c36
      X-Circleci-Request-Id:
      - 5208fd58-aa33-4ec1-848a-5e414f4a6ca2
      X-Route:
      - "/projects"
    body:
      encoding: UTF-8
      string: '{"message":"You must log in first."}'
  recorded_at: Sat, 18 Feb 2017 20:07:46 GMT
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/mtchavez/circleci?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://circleci.com/api/v1.1/project/mtchavez/circleci/318
      X-Circleci-Identity:
      - i-999f598e
      X-Circleci-Request-Id:
      - 81f25486-bd41-49cd-acee-b90f98441b14
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/"
    body:
      encoding: UTF-8
      string: '{"compare":null,"previous_successful_build":{"build_num":316,"status":"success","build_time_millis":54304},"build_parameters":{},"oss":true,"committer_date":null,"body":null,"usage_queued_at":"2017-02-18T20:10:22.353Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/318","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":null,"why":"api","user":{"is_user":false,"login":"none"},"vcs_revision":"17689466091d0399bf86751d5a560179f0758a8b","vcs_tag":null,"build_num":318,"infrastructure_fail":false,"committer_email":null,"previous":{"build_num":316,"status":"success","build_time_millis":54304},"status":"not_running","committer_name":null,"retries":null,"subject":null,"vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"not_running","no_dependency_cache":false,"stop_time":null,"ssh_disabled":false,"build_time_millis":null,"circle_yml":null,"messages":[],"is_first_green_build":false,"job_name":null,"start_time":null,"canceler":null,"outcome":null,"vcs_url":"https://github.com/mtchavez/circleci","author_name":null,"node":null,"canceled":false,"author_email":null}'
  recorded_at: Sat, 18 Feb 2017 20:08:22 GMT
recorded_with: VCR 3.0.3
