---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/140?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-6f9bbf4754-pggk9
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/:build_num/"
    body:
      encoding: ASCII-8BIT
      string: '{"compare":"https://github.com/mtchavez/circleci/commit/d9a5a207e102","previous_successful_build":{"build_num":139,"status":"success","build_time_millis":83094},"build_parameters":null,"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-07-25T10:03:49-07:00","steps":[{"name":"Starting
        the build","actions":[{"truncated":false,"index":0,"parallel":false,"failed":null,"infrastructure_fail":null,"name":"Starting
        the build","bash_command":null,"status":"success","timedout":null,"continue":null,"end_time":"2016-07-25T17:04:37.043Z","type":"infrastructure","output_url":"https://circle-production-action-output.s3.amazonaws.com/80e57358127a0e2208646975-mtchavez-circleci-0-0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200103T230956Z&X-Amz-SignedHeaders=host&X-Amz-Expires=431999&X-Amz-Credential=AKIAIJNI6FA5RIAFFQ7Q%2F20200103%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=77fe101e30a71bf6b0557c035b6ce5f91a1712786a7548a2b86088b94135ccb7","start_time":"2016-07-25T17:04:00.267Z","background":false,"exit_code":null,"insignificant":false,"canceled":null,"step":0,"run_time_millis":36776,"has_output":true}]},{"name":"Start
        container","actions":[{"truncated":false,"index":0,"parallel":true,"failed":null,"infrastructure_fail":null,"name":"Start
        container","bash_command":null,"status":"success","timedout":null,"continue":null,"end_time":"2016-07-25T17:05:08.003Z","source":"config","type":"infrastructure","output_url":"https://circle-production-action-output.s3.amazonaws.com/f0e57358127a0e225a646975-mtchavez-circleci-1-0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200103T230956Z&X-Amz-SignedHeaders=host&X-Amz-Expires=431999&X-Amz-Credential=AKIAIJNI6FA5RIAFFQ7Q%2F20200103%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=43103e8dc0279a22e7a72cf92f29acf604c04b101c1a6c68f13281bad165b12f","start_time":"2016-07-25T17:04:37.077Z","background":false,"exit_code":0,"insig[...]
