---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/mtchavez/asdf-bogus/envvar?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"TESTENV","value":"testvalue"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-8c486415
      X-Circleci-Request-Id:
      - 28ac4f5f-378d-401c-91e7-8716f17770c7
      X-Route:
      - "/envvar"
    body:
      encoding: UTF-8
      string: '{"message":"Project not found"}'
  recorded_at: Sat, 18 Feb 2017 23:55:50 GMT
recorded_with: VCR 3.0.3
