---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/checkout-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"type":"deploy-key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://circleci.com/api/v1.1/project/github/mtchavez/circleci/checkout-key/51:95:3d:9a:8d:fc:94:1d:6d:3e:14:d4:37:51:ec:ec
      X-Circleci-Identity:
      - i-d9ce0a46
      X-Circleci-Request-Id:
      - 63bcf44b-7a09-43a5-8483-10d7bfc7408c
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/checkout-key"
    body:
      encoding: UTF-8
      string: '{"public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDu8NsfUmESuKsG9CdHMWKTJAeyKVW9WhNV688e2ehrkgDwbXQfXxnDIOoS1BsWydBTvbIqwOUNMYbFa7GqZG66xSOSgWU//KObpxbF4wrUwMXTyf74WyHNINr9Xye6PfdL/Ffa0PdPbp2KNUuQassGLwD6YMkQWC5pJoavIx+YrMaSy4KoydjIjBtt0MZtDa00eEBAMttw+N8wSMyHy1PeJu1ukFcrTizt5evz6A7bf1VeJVuL4s4sxYvpGIFMVO7wHJzViaELap2WbFl8S4n0jT0L/YhkvkAti6RsrxPeszJyndbm9iVZc1CJcfIDUpziqXKY7gyxZI4j1jMwKnph
        \n","type":"deploy-key","fingerprint":"51:95:3d:9a:8d:fc:94:1d:6d:3e:14:d4:37:51:ec:ec","login":null,"preferred":true,"time":"2016-07-29T00:30:10.226Z"}'
  recorded_at: Fri, 29 Jul 2016 00:29:51 GMT
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/circleci/checkout-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"type":"deploy-key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-06a3c1f5f8d5a204d
      X-Circleci-Request-Id:
      - 45fc7c0e-f448-42cc-a8dd-3a85ec5582f7
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html><head><title>Continuous Integration and Deployment</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="CircleCI" name="apple-mobile-web-app-title"><meta content="Hosted Continuous Integration for web applications. Set up your application for testing in one click, on the fastest testing platform on the internet." name="description"><link href="https://dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico" rel="icon" type="image/png"><link href="//dmmj3mmt94rvw.cloudfront.net/assets/css/app-b69cd148b2bd66451e8551af355597a3.css" rel="stylesheet" type="text/css"><script type="text/javascript">var circleEnvironment = "production";var circleHost = "i-06a3c1f5f8d5a204d";var current_manifest_version_key = "frontend-releases/v3/367ad768072c853274f2ffa3ed098cc6265a03b8.json";var optimizelyUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/optimizely-94c7bce52d627f8bcc7ed80e0c947108.js';var segmentUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/segment-AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35-f0f5acd5bb0d8296bb6119d034d66958.js';var CSRFToken = '-heFW_8hT9SMJ1hUAHk[...]
