---
http_interactions:
- request:
    method: delete
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/checkout-key/46:0f:2a:f3:ed:58:b6:dd:60:27:bb:94:d4:04:84:a6?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-98fb4560
      X-Circleci-Request-Id:
      - 9b865863-02fe-4eef-8402-c713e3d6e7df
      X-Route:
      - "/checkout-key/:fingerprint"
    body:
      encoding: UTF-8
      string: '{"message":"checkout key not found"}'
  recorded_at: Fri, 29 Jul 2016 00:29:46 GMT
- request:
    method: delete
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/checkout-key/29:15:12:e8:f7:f4:17:7a:8f:cc:db:de:43:53:f4:73?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-9010d10f
      X-Circleci-Request-Id:
      - 8e141707-d89f-48c2-a6bc-1076fd632a6b
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/checkout-key/:fingerprint"
    body:
      encoding: UTF-8
      string: '{"message":"ok"}'
  recorded_at: Fri, 29 Jul 2016 00:34:03 GMT
- request:
    method: delete
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/circleci/checkout-key/29:15:12:e8:f7:f4:17:7a:8f:cc:db:de:43:53:f4:73?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-068bf61ae1f2a8d02
      X-Circleci-Request-Id:
      - dd56dcbb-b1e3-4c43-bc11-9dbc892fc81d
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html><head><title>Continuous Integration and Deployment</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="CircleCI" name="apple-mobile-web-app-title"><meta content="Hosted Continuous Integration for web applications. Set up your application for testing in one click, on the fastest testing platform on the internet." name="description"><link href="https://dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico" rel="icon" type="image/png"><link href="//dmmj3mmt94rvw.cloudfront.net/assets/css/app-b69cd148b2bd66451e8551af355597a3.css" rel="stylesheet" type="text/css"><script type="text/javascript">var circleEnvironment = "production";var circleHost = "i-068bf61ae1f2a8d02";var current_manifest_version_key = "frontend-releases/v3/367ad768072c853274f2ffa3ed098cc6265a03b8.json";var optimizelyUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/optimizely-94c7bce52d627f8bcc7ed80e0c947108.js';var segmentUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/segment-AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35-f0f5acd5bb0d8296bb6119d034d66958.js';var CSRFToken = '1YOI8UKY_BqfGjRA3Hi[...]
