---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1/project/mtchavez/circleci/ssh-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"hostname":"hostname","private_key":"RSA Private Key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-56fa44ae
      X-Circleci-Request-Id:
      - bd1aa44c-2b4b-4ab6-8eae-f2a1517c960d
      X-Route:
      - "/ssh-key"
    body:
      encoding: UTF-8
      string: '{"message":"it looks like private key is invalid key.  Double check"}'
  recorded_at: Fri, 29 Jul 2016 00:22:50 GMT
recorded_with: VCR 3.0.3
