---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/asdf-bogus/envvar?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"TESTENV","value":"testvalue"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-6f9bbf4754-qc49v
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/envvar"
    body:
      encoding: UTF-8
      string: '{"message":"{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3/repos/#get\"}"}'
  recorded_at: Fri, 03 Jan 2020 23:09:50 GMT
recorded_with: VCR 4.0.0
