---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1/project/mtchavez/circleci/tree/master?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-a9968330
      X-Circleci-Request-Id:
      - 2a981941-e0bd-4d7f-beb3-684fa44a50b4
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/tree/:branch"
      - ":branch"
      - "[^,;?]+"
    body:
      encoding: ASCII-8BIT
      string: '[{"compare":null,"previous_successful_build":null,"build_parameters":{},"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-10-01T04:15:11Z","body":"-
        Fix require of forwardable issue","usage_queued_at":"2017-02-18T20:17:04.087Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/319","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":"2016-10-01T04:15:11Z","why":"api","user":{"is_user":false,"login":"none"},"vcs_revision":"17689466091d0399bf86751d5a560179f0758a8b","vcs_tag":null,"build_num":319,"infrastructure_fail":false,"committer_email":"matthew@el-chavez.me","has_artifacts":true,"previous":{"build_num":318,"status":"success","build_time_millis":69516},"status":"success","committer_name":"Chavez","retries":null,"subject":"Update
        to version 1.0.3","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"finished","no_dependency_cache":false,"stop_time":"2017-02-18T20:18:19.761Z","ssh_disabled":false,"build_time_millis":53597,"circle_yml":{"string":"machine:\n  ruby:\n    version:
        2.2.3\n"},"messages":[],"is_first_green_build":false,"job_name":null,"start_time":"2017-02-18T20:17:26.164Z","canceler":null,"all_commit_details":[{"committer_date":"2016-10-01T04:15:11Z","body":"-
        Fix require of forwardable issue","author_date":"2016-10-01T04:15:11Z","committer_email":"matthew@el-chavez.me","commit":"17689466091d0399bf86751d5a560179f0758a8b","committer_login":"mtchavez","committer_name":"Chavez","subject":"Update
        to version 1.0.3","commit_url":"https://github.com/mtchavez/circleci/commit/17689466091d0399bf86751d5a560179f0758a8b","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"}],"outcome":"success","vcs_url":"https://github.com/mtchavez/circleci","author_name":"Chavez","node":null,"queued_at":"2017-02-18T20:17:26.120Z","canceled":false,"author_email":"matthew@el-chavez.me"},{"compare":null,"previous_successful_build":null,"build_parameters":{},"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-10-01T04:15:11Z","body":"-
        Fix require of forwardable issue","usage_queued_at":"2017-02-18T20:10:22.353Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/318","parallel":1,"failed":null,"branch":"master","username":"mtchavez",[...]
