---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1/me?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-d6ce0a49
      X-Circleci-Request-Id:
      - 72d47a4e-a4cf-4cee-993c-4c6cfcd62bfb
      X-Route:
      - "/me"
    body:
      encoding: ASCII-8BIT
      string: '{"enrolled_betas":[],"in_beta_program":false,"selected_email":"matthew@el-chavez.me","avatar_url":"https://avatars.githubusercontent.com/u/44689?v=3","trial_end":"2013-05-01T02:51:18.043Z","admin":false,"basic_email_prefs":"smart","sign_in_count":31,"github_oauth_scopes":["user:email","repo"],"analytics_id":"10448f27-7256-49de-9099-6c89d09cb235","name":"Chavez","gravatar_id":null,"days_left_in_trial":-1184,"parallelism":1,"bitbucket_authorized":false,"github_id":44689,"bitbucket":null,"dev_admin":false,"all_emails":["contact@el-chavez.me","nailsbrokeandfell@gmail.com","chavez@fastmail.fm","matthew@el-chavez.me"],"created_at":"2013-04-17T02:51:18.043Z","plan":null,"heroku_api_key":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxf7c5","identities":{"github":{"name":"Chavez","provider_id":44689,"domain":"github.com","type":"github","handle":"mtchavez","avatar_url":"https://avatars.githubusercontent.com/u/44689?v=3","is_authorized":true,"is_user":true}},"projects":{"https://github.com/mtchavez/circleci":{"on_dashboard":true,"emails":"default"},"https://github.com/opuslabs/opus":{"on_dashboard":true,"emails":"default"}},"login":"mtchavez","organization_prefs":{},"containers":1,"pusher_id":"f5f3ca8621917bdabee2528aec295ab6f3792cc7"}'
  recorded_at: Fri, 29 Jul 2016 00:00:12 GMT
recorded_with: VCR 3.0.3
