---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/140/retry?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-4bc206d4
      X-Circleci-Request-Id:
      - 91366994-6408-437a-993e-552cfdc17027
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/retry"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '{"compare":"https://github.com/mtchavez/circleci/commit/d9a5a207e102","previous_successful_build":{"build_num":194,"status":"success","build_time_millis":322526},"build_parameters":null,"oss":true,"committer_date":"2016-07-25T10:03:49-07:00","body":"*
        Fix from plural envvar to envvars for consistency with API endpoint\n* Preserve
        old functionality","usage_queued_at":"2016-07-29T00:08:11.658Z","fail_reason":null,"retry_of":140,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/225","parallel":1,"failed":null,"branch":"typo","username":"mtchavez","author_date":"2016-07-25T10:03:49-07:00","why":"retry","user":{"is_user":true,"login":"mtchavez","avatar_url":"https://avatars.githubusercontent.com/u/44689?v=3","name":"Chavez","vcs_type":"github","id":44689},"vcs_revision":"d9a5a207e10209eecef8ed02289824a8630ed67d","vcs_tag":null,"build_num":225,"infrastructure_fail":false,"committer_email":"matthew@el-chavez.me","previous":{"build_num":140,"status":"success","build_time_millis":223674},"status":"scheduled","committer_name":"Chavez","retries":null,"subject":"Project#envvar
        method naming fix","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"scheduled","no_dependency_cache":false,"stop_time":null,"ssh_disabled":false,"build_time_millis":null,"circle_yml":null,"messages":[],"is_first_green_build":false,"job_name":null,"start_time":null,"canceler":null,"all_commit_details":[{"committer_date":"2016-07-25T10:03:49-07:00","body":"*
        Fix from plural envvar to envvars for consistency with API endpoint\n* Preserve
        old functionality","branch":"typo","author_date":"2016-07-25T10:03:49-07:00","committer_email":"matthew@el-chavez.me","commit":"d9a5a207e10209eecef8ed02289824a8630ed67d","committer_login":"mtchavez","committer_name":"Chavez","subject":"Project#envvar
        method naming fix","commit_url":"https://github.com/mtchavez/circleci/commit/d9a5a207e10209eecef8ed02289824a8630ed67d","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"}],"outcome":null,"vcs_url":"https://github.com/mtchavez/circleci","author_name":"Chavez","node":null,"canceled":false,"author_email":"matthew@el-chavez.me"}'
  recorded_at: Fri, 29 Jul 2016 00:07:49 GMT
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/circleci//retry?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-0fee7654fc14398b9
      X-Circleci-Request-Id:
      - 75c2f4cd-c15f-4f24-b738-0f2923872063
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html><head><title>Continuous Integration and Deployment</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="CircleCI" name="apple-mobile-web-app-title"><meta content="Hosted Continuous Integration for web applications. Set up your application for testing in one click, on the fastest testing platform on the internet." name="description"><link href="https://dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico" rel="icon" type="image/png"><link href="//dmmj3mmt94rvw.cloudfront.net/assets/css/app-b69cd148b2bd66451e8551af355597a3.css" rel="stylesheet" type="text/css"><script type="text/javascript">var circleEnvironment = "production";var circleHost = "i-0fee7654fc14398b9";var current_manifest_version_key = "frontend-releases/v3/367ad768072c853274f2ffa3ed098cc6265a03b8.json";var optimizelyUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/optimizely-94c7bce52d627f8bcc7ed80e0c947108.js';var segmentUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/segment-AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35-f0f5acd5bb0d8296bb6119d034d66958.js';var CSRFToken = 'hUAAR95cbLBAVhqQ9yz[...]
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/circleci/140/retry?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-0fee7654fc14398b9
      X-Circleci-Request-Id:
      - 929ac1a8-5d25-4120-9700-8766ed[...]
