---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/projects?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-7dadfbfb
      X-Circleci-Request-Id:
      - 1e59c129-e2ba-4db7-83c0-c93e0463b348
      X-Route:
      - "/projects"
    body:
      encoding: ASCII-8BIT
      string: '[{"irc_server":null,"ssh_keys":[],"branches":{"analytics":{"last_success":{"added_at":"2015-05-05T22:23:17.502Z","pushed_at":"2015-05-05T22:22:28.000Z","vcs_revision":"a65c5c8545e494f6477fffd26692a40a3f84b8bb","build_num":144,"status":"success","outcome":"success"},"recent_builds":[{"added_at":"2015-05-05T22:23:17.502Z","pushed_at":"2015-05-05T22:22:28.000Z","vcs_revision":"a65c5c8545e494f6477fffd26692a40a3f84b8bb","build_num":144,"status":"success","outcome":"success"}],"pusher_logins":["ptbrodie"],"running_builds":[]},"company-data":{"last_success":{"added_at":"2015-04-22T03:24:35.553Z","pushed_at":"2015-04-22T03:23:37.000Z","vcs_revision":"0fc47b7bc84131efb487ad3dda05809d058e98a2","build_num":85,"status":"fixed","outcome":"success"},"last_non_success":{"added_at":"2015-04-22T03:18:29.386Z","pushed_at":"2015-04-22T03:17:45.000Z","vcs_revision":"9e633b9ef0985ecf6eb5fca599ac5184002f7ac5","build_num":84,"status":"failed","outcome":"failed"},"pusher_logins":["zachwopus","ptbrodie"],"recent_builds":[{"added_at":"2015-04-22T03:24:35.553Z","pushed_at":"2015-04-22T03:23:37.000Z","vcs_revision":"0fc47b7bc84131efb487ad3dda05809d058e98a2","build_num":85,"status":"fixed","outcome":"success"},{"added_at":"2015-04-22T03:18:29.386Z","pushed_at":"2015-04-22T03:17:45.000Z","vcs_revision":"9e633b9ef0985ecf6eb5fca599ac5184002f7ac5","build_num":84,"status":"failed","outcome":"failed"}],"running_builds":[]},"master":{"last_non_success":{"added_at":"2015-04-09T19:09:49.217Z","pushed_at":"2015-04-09T19:09:08.000Z","vcs_revision":"063599058e89bac02c0fd0f174eb195f620f2fd5","build_num":2,"status":"failed","outcome":"failed"},"last_success":{"added_at":"2015-05-09T03:28:51.790Z","pushed_at":"2015-05-09T03:27:40.000Z","vcs_revision":"9f61f2b0a314c50d7e482b479b503d6aad50db81","build_num":153,"status":"success","outcome":"success"},"pusher_logins":["mtchavez","ptbrodie"],"recent_builds":[{"added_at":"2015-05-09T03:28:51.790Z","pushed_at":"2015-05-09T03:27:40.000Z","vcs_revision":"9f61f2b0a314c50d7e482b479b503d6aad50db81","build_num":153,"status":"success","outcome":"success"},{"added_at":"2015-05-09T03:16:59.196Z","pushed_at":"2015-05-09T03:16:01.000Z","vcs_revision":"97024cb298368461794bf029e69a284343d5f14a","build_num":151,"status":"success","outcome":"success"},{"added_at":"2015-05-09T01:11:30.199Z","pushed_at":"2015-05-09T01:10:35.000Z","vcs_revision":"c23b65597f725022bf435ab64d360daa611fbe25","build_num":149,"status":"success","outcome":"success"},{"added_at":"2015-05-08T23:07:25.319Z","pushed_at":"2015-05-08T23:06:24.000Z","vcs_revision":"a35efaae86b45cf43b8470ba934081bc7aca22fc","build_num":147,"status":"success","outcome":"success"},{"added_at":"2015-05-04T19:44:07.686Z","pushed_at":"2015-05-04T19:43:01.000Z","vcs_revision":"a020262919005ec3d3998c32b6fb7f5e707326de","build_num":143,"status":"success","outcome":"success"}],"running_builds":[]}},"irc_keyword":null,"oss":false,"slack_channel":null,"hipchat_notify_prefs":null,"reponame":"opus","dependencies":"","aws":{"keypair":null},"slack_webhook_url":null,"irc_channel":null,"parallel":1,"campfire_subdomain":null,"followed":true,"username":"opuslabs","campfire_notify_prefs":null,"hipchat_notify":null,"heroku_deploy_user":null,"irc_username":null,"slack_notify_prefs":null,"scopes":["write-settings","view-builds","read-settings","trigger-builds","all","status","none"],"campfire_room":null,"hipchat_api_token":null,"campfire_token":null,"slack_subdomain":null,"has_usable_key":true,"setup":"","vcs_type":"github","feature_flags":{"trusty-beta":false,"osx":false,"set-github-status":true,"build-prs-only":false,"fleet":null,"build-fork-prs":false,"autocancel-builds":false,"junit":true},"irc_password":null,"compile":"","irc_notify_prefs":null,"extra":"","language":"Python","hipchat_room":null,"flowdock_api_token":null,"slack_channel_override":null,"vcs_url":"https://github.com/opuslabs/opus","default_branch":"master","slack_api_token":null,"test":""}]'
  recorded_at: Fri, 29 Jul 2016 00:22:33 GMT
recorded_with: VCR 3.0.3
