---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/asdf-bogus/envvar?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"TESTENV","value":"testvalue"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-d1a5f357
      X-Circleci-Request-Id:
      - dbf25b6f-1296-4fae-9901-4a1afffc337f
      X-Route:
      - "/envvar"
    body:
      encoding: UTF-8
      string: '{"message":"{\"message\":\"Not Found\",\"documentation_url\":\"https://developer.github.com/v3\"}"}'
  recorded_at: Fri, 29 Jul 2016 00:22:57 GMT
recorded_with: VCR 3.0.3
