---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/65/ssh-users?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"hostname":"hostname","private_key":"RSA Private Key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-56fa44ae
      X-Circleci-Request-Id:
      - 90fce475-7f54-46d7-ba19-1a0ff07f1a0f
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/ssh-users"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '{"compare":"https://github.com/mtchavez/circleci/compare/03cce9db60ee...43904cc4b93e","previous_successful_build":{"build_num":64,"status":"success","build_time_millis":54430},"build_parameters":null,"oss":true,"committer_date":"2015-12-06T13:37:10-08:00","body":"","usage_queued_at":"2015-12-06T21:37:20.563Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/65","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":"2015-12-06T13:37:10-08:00","why":"github","user":{"is_user":true,"login":"mtchavez","avatar_url":"https://avatars.githubusercontent.com/u/44689?v=3","name":"Chavez","vcs_type":"github","id":44689},"vcs_revision":"43904cc4b93e79af83cddd6b2195e031759d665f","vcs_tag":null,"build_num":65,"infrastructure_fail":false,"committer_email":"matthew@el-chavez.me","has_artifacts":true,"previous":{"build_num":64,"status":"success","build_time_millis":54430},"status":"success","committer_name":"Chavez","retries":null,"subject":"Update
        CHANGELOG","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"finished","no_dependency_cache":null,"stop_time":"2015-12-06T21:38:12.078Z","ssh_disabled":false,"build_time_millis":55587,"circle_yml":null,"messages":[],"is_first_green_build":false,"job_name":null,"start_time":"2015-12-06T21:37:16.491Z","canceler":null,"all_commit_details":[{"committer_date":"2015-12-06T13:37:10-08:00","body":"","branch":"master","author_date":"2015-12-06T13:37:10-08:00","committer_email":"matthew@el-chavez.me","commit":"43904cc4b93e79af83cddd6b2195e031759d665f","committer_login":"mtchavez","committer_name":"Chavez","subject":"Update
        CHANGELOG","commit_url":"https://github.com/mtchavez/circleci/commit/43904cc4b93e79af83cddd6b2195e031759d665f","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"}],"outcome":"success","vcs_url":"https://github.com/mtchavez/circleci","author_name":"Chavez","node":[{"public_ip_addr":"54.144.251.237","port":64712,"username":"ubuntu","image_id":"circletar-1347-b4bf5-20151130T080640Z","ssh_enabled":null}],"queued_at":"2015-12-06T21:37:16.459Z","canceled":false,"author_email":"matthew@el-chavez.me"}'
  recorded_at: Fri, 29 Jul 2016 00:22:37 GMT
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/circleci/65/ssh-users?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"hostname":"hostname","private_key":"RSA Private Key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-765169ef
      X-Circleci-Request-Id:
      - 7d30a14a-45a2-4c3c-92d2-f9ce883f540a
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html><head><title>Continuous Integration and Deployment</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="CircleCI" name="apple-mobile-web-app-title"><meta content="Hosted Continuous Integration for web applications. Set up your application for testing in one click, on the fastest testing platform on the internet." name="description"><link href="https://dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico" rel="icon" type="image/png"><link href="//dmmj3mmt94rvw.cloudfront.net/assets/css/app-b69cd148b2bd66451e8551af355597a3.css" rel="stylesheet" type="text/css"><script type="text/javascript">var circleEnvironment = "production";var circleHost = "i-765169ef";var current_manifest_version_key = "frontend-releases/v3/367ad768072c853274f2ffa3ed098cc6265a03b8.json";var optimizelyUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/optimizely-94c7bce52d627f8bcc7ed80e0c947108.js';var segmentUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/segment-AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35-f0f5acd5bb0d8296bb6119d034d66958.js';var CSRFToken = '3o_sbLwUivUOWzpmdVEnneesOwok[...]
