---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1/project/ad2games/soapy_cake/tree/master?circle-token=<TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Circleci-Identity:
      - i-9ffb4567
      X-Circleci-Request-Id:
      - e3e30bbb-d5f8-4f7a-882f-4fa137863bfa
      X-Route:
      - "/tree/:branch"
      - ":branch"
      - "[^,;?]+"
    body:
      encoding: UTF-8
      string: |-
        {
          "message" : "Permission denied"
        }
  recorded_at: Mon, 25 Jul 2016 22:37:41 GMT
- request:
    method: post
    uri: https://circleci.com/api/v1/project/mtchavez/circleci/tree/master?circle-token=<TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://circleci.com/api/v1/project/mtchavez/circleci/198
      X-Circleci-Identity:
      - i-23baeca5
      X-Circleci-Request-Id:
      - a896bb72-b730-46f3-80ab-b73b12ba34c4
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/tree/:branch"
      - ":branch"
      - "[^,;?]+"
    body:
      encoding: UTF-8
      string: |-
        {
          "compare" : null,
          "previous_successful_build" : {
            "build_num" : 192,
            "status" : "success",
            "build_time_millis" : 57272
          },
          "build_parameters" : { },
          "oss" : true,
          "all_commit_details_truncated" : false,
          "committer_date" : "2016-07-25T17:23:21Z",
          "body" : "* Update dev dependencies\r\n\r\n* Remove deprecated rubocop cop\r\n\r\n* Fix hash code styling issue",
          "usage_queued_at" : "2016-07-25T22:38:25.948Z",
          "fail_reason" : null,
          "retry_of" : null,
          "reponame" : "circleci",
          "ssh_users" : [ ],
          "build_url" : "https://circleci.com/gh/mtchavez/circleci/198",
          "parallel" : 1,
          "failed" : null,
          "branch" : "master",
          "username" : "mtchavez",
          "author_date" : "2016-07-25T17:23:21Z",
          "why" : "api",
          "user" : {
            "is_user" : true,
            "login" : "mtchavez",
            "avatar_url" : "https://avatars.githubusercontent.com/u/44689?v=3",
            "name" : "Chavez",
            "vcs_type" : "github",
            "id" : 44689
          },
          "vcs_revision" : "cc1e87745e2ffcf5d20dec47c4bcf3dd5ebc3f56",
          "vcs_tag" : null,
          "build_num" : 198,
          "infrastructure_fail" : false,
          "committer_email" : "noreply@github.com",
          "previous" : {
            "build_num" : 197,
            "status" : "running",
            "build_time_millis" : 0
          },
          "status" : "not_running",
          "committer_name" : "GitHub",
          "retries" : null,
          "subject" : "Dev dependencies (#72)",
          "vcs_type" : "github",
          "timedout" : false,
          "dont_build" : null,
          "lifecycle" : "not_running",
          "no_dependency_cache" : false,
          "stop_time" : null,
          "ssh_disabled" : false,
          "build_time_millis" : null,
          "circle_yml" : null,
          "messages" : [ ],
          "is_first_green_build" : false,
          "job_name" : null,
          "start_time" : null,
          "canceler" : null,
          "all_commit_details" : [ {
            "committer_date" : "2016-07-25T17:23:21Z",
            "body" : "* Update dev dependencies\r\n\r\n* Remove deprecated rubocop cop\r\n\r\n* Fix hash code styling issue",
            "author_date" : "2016-07-25T17:23:21Z",
            "committer_email" : "noreply@github.com",
            "commit" : "cc1e87745e2ffcf5d20dec47c4bcf3dd5ebc3f56",
            "committer_login" : "web-flow",
            "committer_name" : "GitHub",
            "subject" : "Dev dependencies (#72)",
            "commit_url" : "https://github.com/mtchavez/circleci/commit/cc1e87745e2ffcf5d20dec47c4bcf3dd5ebc3f56",
            "author_login" : "mtchavez",
            "author_name" : "Chavez",
            "author_email" : "mtchavez@users.noreply.github.com"
          } ],
          "outcome" : null,
          "vcs_url" : "https://github.com/mtchavez/circleci",
          "author_name" : "Chavez",
          "node" : null,
          "canceled" : false,
          "author_email" : "mtchavez@users.noreply.github.com"
        }
  recorded_at: Mon, 25 Jul 2016 22:38:10 GMT
recorded_with: VCR 3.0.3
