---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/recent-builds?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-5ddd5d69bc-8qsh9
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/recent-builds"
    body:
      encoding: ASCII-8BIT
      string: '[{"compare":null,"previous_successful_build":null,"build_parameters":{"CIRCLE_JOB":"lint"},"oss":false,"all_commit_details_truncated":false,"committer_date":"2020-01-03T16:58:56-08:00","body":"","usage_queued_at":"2020-01-04T01:01:35.474Z","context_ids":["Android
        Debug Build"],"fail_reason":null,"retry_of":null,"reponame":"android","ssh_users":[],"build_url":"https://circleci.com/gh/autolist/android/22908","parallel":1,"failed":null,"branch":"master","username":"autolist","author_date":"2020-01-03T16:58:56-08:00","why":"github","user":{"is_user":true,"login":"yoavgray","avatar_url":"https://avatars2.githubusercontent.com/u/4569584?v=4","name":"Yoav
        Gray","vcs_type":"github","id":4569584},"vcs_revision":"56cd5d05659d090d7c7cc27b426a7faac170bd1f","workflows":{"job_name":"lint","job_id":"f02f101e-213d-4cb0-b626-ff23f38aec95","workflow_id":"1a93d18e-4edd-4fda-9042-c86ff3ec9467","workspace_id":"1a93d18e-4edd-4fda-9042-c86ff3ec9467","upstream_job_ids":["12f1fa89-2413-4fa7-8bb7-da7005de88a0"],"upstream_concurrency_map":{},"workflow_name":"build_and_test"},"vcs_tag":null,"build_num":22908,"infrastructure_fail":false,"committer_email":"yoav@autolist.com","has_artifacts":true,"previous":{"build_num":22901,"status":"success","build_time_millis":140008},"status":"running","committer_name":"Yoav
        Gray","retries":null,"subject":"release: version 9.5.0 (299) - beta","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"running","no_dependency_cache":false,"stop_time":null,"ssh_disabled":false,"build_time_millis":null,"picard":null,"circle_yml":null,"messages":[],"is_first_green_build":false,"job_name":null,"start_time":"2020-01-04T01:01:39.246Z","canceler":null,"all_commit_details":[{"committer_date":"2020-01-03T16:58:56-08:00","body":"","branch":"master","author_date":"2020-01-03T16:58:56-08:00","committer_email":"yoav@autolist.com","commit":"56cd5d05659d090d7c7cc27b426a7faac170bd1f","committer_login":"yoavgray","committer_name":"Yoav
        Gray","subject":"release: version 9.5.0 (299) - beta","commit_url":"https://github.com/autolist/android/commit/56cd5d05659d090d7c7cc27b426a7faac170bd1f","author_login":"yoavgray","author_name":"Yoav
        Gray","author_email":"yoav@autolist.com"}],"platform":"1.0","outcome":null,"vcs_url":"https://github.com/autolist/android","author_name":"Yoav
        Gray","node":null,"queued_at":"2020-01-04T01:01:35.504Z","canceled":false,"author_email":"yoav@autolist.com"},{"compare":null,"previous_successful_build":null,"build_parameters":{"CIRCLE_JOB":"unit_tests"},"oss":false,"all_commit_details_truncated":false,"committer_date":"2020-01-03T16:58:56-08:00","body":"","usage_queued_at":"2020-01-04T01:01:35.614Z","context_ids":["Android
        Debug Build"],"fail_reason":null,"retry_of":null,"reponame":"android","ssh_users":[],"build_url":"https://circleci.com/gh/autolist/android/22910","parallel":1,"failed":null,"branch"[...]
