---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://circleci.com/api/v1.1/project/github/mtchavez/circleci/3929
      X-Circleci-Identity:
      - circle-www-api-acl-v1-7d84dfcd88-ztgfv
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/"
    body:
      encoding: UTF-8
      string: '{"compare":null,"previous_successful_build":{"build_num":3924,"status":"success","build_time_millis":6806},"build_parameters":{"CIRCLE_JOB":"build"},"oss":true,"all_commit_details_truncated":false,"committer_date":null,"body":null,"usage_queued_at":"2020-06-21T11:54:55.868Z","context_ids":[],"fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/3929","parallel":1,"failed":null,"branch":"master","username":"mtchavez","author_date":null,"why":"api","user":{"is_user":false,"login":"none"},"vcs_revision":"4abf27c499581fceaa1a3d2903d99a9e4262c920","workflows":{"job_name":"build","job_id":"cfb5f15e-e6e7-427a-90a1-635e4e9c1bee","workflow_id":"51369fe1-876d-462e-b6cb-10c500df5f3d","workspace_id":"51369fe1-876d-462e-b6cb-10c500df5f3d","upstream_job_ids":[],"upstream_concurrency_map":{},"workflow_name":"build"},"vcs_tag":null,"build_num":3929,"infrastructure_fail":false,"committer_email":null,"has_artifacts":null,"previous":{"build_num":3928,"status":"queued","build_time_millis":0},"status":"not_running","committer_name":null,"retries":null,"subject":null,"vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"not_running","no_dependency_cache":false,"stop_time":null,"ssh_disabled":true,"build_time_millis":null,"picard":null,"circle_yml":{"string":"working_dir:
        ~/app\n.build_template:\n  steps:\n  - checkout\n  - run: curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
        > ./cc-test-reporter\n  - run: chmod +x ./cc-test-reporter\n  - run: ./cc-test-reporter
        before-build\n  - run: gem install bundler:2.1.4\n  - run: bundle install
        --jobs=4 --retry=4 --path vendor/bundle\n  - run: bundle exec rake rubocop\n  -
        run:\n      name: Run tests\n      command: |\n        bundle exec rspec -r
        rspec_junit_formatter --format RspecJunitFormatter -o $CIRCLE_TEST_REPORTS/rspec/junit.xml\n        ./cc-test-reporter
        after-build --exit-code $?\n  working_directory: ~/app\nversion: 2.0\njobs:\n  build:\n    docker:\n    -
        image: ruby\n    steps:\n    - checkout\n  build_ruby2_7:\n    steps:\n    -
        checkout\n    - run: curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
        > ./cc-test-reporter\n    - run: chmod +x ./cc-test-reporter\n    - run: ./cc-test-reporter
        before-build\n    - run: gem install bundler:2.1.4\n    - run: bundle install
        --jobs=4 --retry=4 --path vendor/bundle\n    - run: bundle exec rake rubocop\n    -
        run:\n        name: Run t[...]
