---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/recent-builds?circle-token=<TOKEN>&limit=3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-89a7f10f
      X-Circleci-Request-Id:
      - 3d34c38c-6da0-4bad-a2f5-46003f12a908
      X-Route:
      - "/recent-builds"
    body:
      encoding: ASCII-8BIT
      string: '[{"compare":"https://github.com/mtchavez/circleci/commit/d9a5a207e102","previous_successful_build":null,"build_parameters":null,"oss":true,"committer_date":"2016-07-25T10:03:49-07:00","body":"*
        Fix from plural envvar to envvars for consistency with API endpoint\n* Preserve
        old functionality","usage_queued_at":"2016-07-29T00:08:11.658Z","fail_reason":null,"retry_of":140,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/mtchavez/circleci/225","parallel":1,"failed":null,"branch":"typo","username":"mtchavez","author_date":"2016-07-25T10:03:49-07:00","why":"retry","user":{"is_user":false,"login":"mtchavez","vcs_type":"github"},"vcs_revision":"d9a5a207e10209eecef8ed02289824a8630ed67d","vcs_tag":null,"build_num":225,"infrastructure_fail":false,"committer_email":"matthew@el-chavez.me","has_artifacts":true,"previous":{"build_num":140,"status":"success","build_time_millis":223674},"status":"success","committer_name":"Chavez","retries":null,"subject":"Project#envvar
        method naming fix","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"finished","no_dependency_cache":false,"stop_time":"2016-07-29T00:09:01.739Z","ssh_disabled":false,"build_time_millis":72458,"circle_yml":{"string":"machine:\n  ruby:\n    version:
        2.2.3\n"},"messages":[],"is_first_green_build":false,"job_name":null,"start_time":"2016-07-29T00:07:49.281Z","canceler":null,"all_commit_details":[{"committer_date":"2016-07-25T10:03:49-07:00","body":"*
        Fix from plural envvar to envvars for consistency with API endpoint\n* Preserve
        old functionality","branch":"typo","author_date":"2016-07-25T10:03:49-07:00","committer_email":"matthew@el-chavez.me","commit":"d9a5a207e10209eecef8ed02289824a8630ed67d","committer_login":"mtchavez","committer_name":"Chavez","subject":"Project#envvar
        method naming fix","commit_url":"https://github.com/mtchavez/circleci/commit/d9a5a207e10209eecef8ed02289824a8630ed67d","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"}],"outcome":"success","vcs_url":"https://github.com/mtchavez/circleci","author_name":"Chavez","node":null,"queued_at":"2016-07-29T00:07:49.259Z","canceled":false,"author_email":"matthew@el-chavez.me"},{"compare":"https://github.com/mtchavez/circleci/commit/d9a5a207e102","previous_successful_build":null,"build_parameters":null,"oss":true,"committer_date":"2016-07-25T10:03:49-07:00","body":"*
        Fix from plural envvar to envvars for consistency with API endpoint\n* Preserve
        old functionality","usage_queued_at":"2016-07-29T00:07:49.807Z","fail_reason":null,"retry_of":140,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.c[...]
