---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/circleci/follow?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Circleci-Identity:
      - circle-www-api-v1-5ddd5d69bc-nc4q4
      X-Client-Trace-Id:
      - ''
      X-Route:
      - "/api/v1.1/project/:vcs-type/:username/:repo/follow"
    body:
      encoding: ASCII-8BIT
      string: '{"following":true,"workflow":false,"first_build":null}'
  recorded_at: Sat, 04 Jan 2020 00:33:18 GMT
recorded_with: VCR 4.0.0
