---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/dotfiles/enable?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-40bde5d0
      X-Circleci-Request-Id:
      - 86a010d0-a06a-4969-9aeb-cd662ac9be1a
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/enable"
    body:
      encoding: ASCII-8BIT
      string: '{"irc_server":null,"scopes":["write-settings","view-builds","read-settings","trigger-builds","all","status","none"],"irc_keyword":null,"followed":false,"vcs-type":"github","aws":{"keypair":null},"slack_webhook_url":null,"flowdock_api_token":null,"parallel":1,"username":"mtchavez","campfire_room":null,"extra":"","branches":{},"slack_subdomain":null,"setup":"","campfire_subdomain":null,"slack_notify_prefs":null,"irc_password":null,"vcs_url":"https://github.com/mtchavez/dotfiles","default_branch":"master","hipchat_api_token":null,"irc_username":null,"language":null,"slack_channel_override":null,"hipchat_notify":null,"slack_api_token":null,"has_usable_key":true,"irc_notify_prefs":null,"campfire_token":null,"slack_channel":null,"feature_flags":{"trusty-beta":false,"osx":false,"set-github-status":true,"build-prs-only":false,"fleet":null,"build-fork-prs":false,"autocancel-builds":false,"junit":true,"oss":true},"campfire_notify_prefs":null,"hipchat_room":null,"heroku_deploy_user":null,"irc_channel":null,"oss":true,"reponame":"dotfiles","hipchat_notify_prefs":null,"compile":"","dependencies":"","test":"","ssh_keys":[]}'
  recorded_at: Wed, 14 Sep 2016 19:31:20 GMT
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/mtchavez/dotfiles/checkout-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-b7f8464f
      X-Circleci-Request-Id:
      - c369b248-d2cb-455d-a5f3-cc7d9ebdfb99
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/checkout-key"
    body:
      encoding: ASCII-8BIT
      string: '[{"public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGu+6azAexpj2cxe8v1.1s2L9UckUPpJahXFJMoR8VIMHjwCS7642Q+0uxaTS8Ylf4Ms3A8iyWceruWmYBWpF2X2nbK5Gxj9wSzO4HvWJ24mdrbrbsepoEHHkAjDhrAQ8FEqA0UsYyrmZTFg35ZtsJYnP5qIDP/uO4gfWZRVJa5PkdWTEiMAY4+k4VQv7mzkHzDthklVdChIJcVW7TzPfeFifkUAQLEwO3ufd2dG5hkREAP28z5EdgoLYm/zT2ZzwpuHifSMm+agzT7U2Xg7ifU/pSoaHz3vb1pkLIV3yAA6bJLYcF8SsKJrJm+sw8NGkfCPLcZ+ujTK5YsplwJzCbC3
        \n","type":"deploy-key","fingerprint":"a4:17:20:b9:02:7f:19:93:84:b8:41:be:be:d3:29:b9","login":null,"preferred":true,"time":"2016-09-14T19:29:40.055Z"}]'
  recorded_at: Wed, 14 Sep 2016 19:37:14 GMT
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/github/mtchavez/dotfiles/checkout-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Circleci-Identity:
      - i-25464cbc
      X-Circleci-Request-Id:
      - 389a80b3-8967-4e50-a3fd-5c3fd65af55a
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html><head><title>Continuous Integration and Deployment</title><meta content="text/html; charset=utf-8" http-equiv="Content-Type"><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><meta content="width=device-width, initial-scale=1" name="viewport"><meta content="CircleCI" name="apple-mobile-web-app-title"><meta content="Hosted Continuous Integration for web applications. Set up your application for testing in one click, on the fastest testing platform on the internet." name="description"><link href="https://dmmj3mmt94rvw.cloudfront.net/favicon-undefined.ico" rel="icon" type="image/png"><link href="//dmmj3mmt94rvw.cloudfront.net/assets/css/app-b69cd148b2bd66451e8551af355597a3.css" rel="stylesheet" type="text/css"><script type="text/javascript">var circleEnvironment = "production";var circleHost = "i-25464cbc";var current_manifest_version_key = "frontend-releases/v3/367ad768072c853274f2ffa3ed098cc6265a03b8.json";var optimizelyUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/optimizely-94c7bce52d627f8bcc7ed80e0c947108.js';var segmentUrl = '//dmmj3mmt94rvw.cloudfront.net/assets/js/hosted/segment-AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35-f0f5acd5bb0d8296bb6119d034d66958.js';var CSRFToken = 'TB_1Hf5gD7LLH01uxLw3nV_lccky[...]
